{commander,[
    {bound,500},
    {suts,[
        {wallet,[
            {sut_dir,"/Users/maryam/Research/workspace/commander/benchmarks/wallet/"},
            {test_dir,"/Users/maryam/Research/workspace/commander/comm_tests/"}]},
        {ad_counter, [
            {sut_dir,"/Users/maryam/Research/workspace/commander/benchmarks/ad_counter/"},
            {test_dir,"/Users/maryam/Research/workspace/commander/comm_tests/"}]},
        {b2b_orders,[
            {sut_dir,"/Users/maryam/Research/workspace/commander/benchmarks/b2b_orders/"},
            {test_dir,"/Users/maryam/Research/workspace/commander/comm_tests/"}]},
        {fmk,[
            {sut_dir,"/Users/maryam/Research/workspace/commander/benchmarks/FMKe/"},
            {test_dir,"/Users/maryam/Research/workspace/commander/comm_tests/"}]}]}]}.